<html>
    <header>
        <title>react hooks</title>
        <style type="text/css">
            * {
                padding: 0;
                margin: 0;
            }
            .panel + .panel {
                border-top: none !important;
            }
        </style>
    </header>
    <body>
        <div id="app"></div>
    </body>
</html>